body {
  color: black;
}

body::before {
  content: "Hello world";
  font-size: 32px;
  display: block;
  margin-top: 20px;
}

body::after {
  content: "I love playing video games";
  font-size: 20px;
  display: block;
  margin-top: 10px;
}
